<!DOCTYPE html>
<html ng-app="chessApp">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
            <link rel="stylesheet" href="/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="/css/normalize.min.css"/>
            <link rel="stylesheet" href="/css/font-awesome.min.css"/>
            <link rel="stylesheet" href="/css/animate.css"/>
            <link rel="stylesheet" href="/css/templatemo_misc.css"/>
            <link rel="stylesheet" href="/css/templatemo_style.css"/>
            <link rel="stylesheet" href="/css/chessboard.min.css"/>
            <link rel="stylesheet" href="/css/main.css"/>
            <link rel="stylesheet" href="/css/my-css.css"/>
            <link rel="stylesheet" href="/css/404-style.css"/>
            <link rel="stylesheet" href="/css/register-style.css"/>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/angular.min.js') }}"></script>
            <script src="{{ asset('js/angular-route.min.js') }}"></script>
            <script src="{{ asset('js/angular-resource.min.js') }}"></script>
            <script src="{{ asset('js/angular-sanitize.min.js') }}"></script>
            <script src="{{ asset('js/modernizr.js') }}"></script>
            <script src="{{ asset('js/chessboard.min.js') }}"></script>
            <script src="{{ asset('js/chess.min.js') }}"></script>
            <script src="{{ asset('js/angular-chessboard.min.js') }}"></script>
            <script src="{{ asset('js/angular-chess.js') }}"></script>
            <script src="{{ asset('js/dropdown.js') }}"></script>
            <script src="{{ asset('js/moment.min.js') }}"></script>
            <script src="{{ asset('js/underscore-min.js') }}"></script>
            <script src="{{ asset('frontend/js/plugins.js') }}"></script>
            <script src="{{ asset('frontend/js/main.js') }}"></script>
            <script src="{{ asset('frontend/app.js') }}"></script>
            <script src="{{ asset('frontend/routing.js') }}"></script>
            <script src="{{ asset('frontend/main-page/main-controller.js') }}"></script>
            <script src="{{ asset('frontend/game-page/game-controller.js') }}"></script>
            <script src="{{ asset('frontend/rules-page/rules-controller.js') }}"></script>
            <script src="{{ asset('frontend/register-page/register-controller.js') }}"></script>
            <script src="{{ asset('frontend/register-page/register-service.js') }}"></script>
            <script src="{{ asset('frontend/login-page/login-controller.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body ng-controller="AppCtrl">
        {% block body %}{% endblock %}
    </body>
</html>
